*{
	font-family: 'Montserrat', sans-serif;
}
body{
	margin: 0 auto;
	width: 100%;
}
#navigation{
	overflow: hidden;
	background: red;
	top: 0;
	/*position: fixed;*/
}
.nav-right{
	float: right;
}
.nav-right li{
	list-style: none;
	display: inline-block;
	margin-top: 10px;
}
.nav-right a{
	text-decoration: none;
	padding: 15px;
}
.logowhite{
	height: 50px;
	margin-left: 50px;
	margin-top: 15px;
}
.logopink{
	height: 50px;
	margin-left: 50px;
	margin-top: 15px;
	display: none;
}
.btn{
	background-color: rgba(112, 0, 255, 0);
	border-radius: 13%;
	width: 90px;
	height: 40px;
	border-color: #ccc;
}
#login{
	border-color: #ff00bf;
}
#signup{
	display: none;
	border-color: #ff00bf;
}
/* HEADER */
.video-form{
	position: relative;
	width: 100%;
	float: left;
}
.form-container{
	position: absolute;
	float: right;
	width: 40%;
	left: 60%;
	margin-top: 8%;
	background-color: white;
	padding-bottom: 50px;
}
form h1, h3{
	color: #352384;
}
.form-container .btn-form{
	background-color: #ff00bf;
	color: white;
	border-radius: 10px;
	border: 0;
	padding: 15px;
	display: inline-block;
	width: 180px;	
}

